.App {
  text-align: center;
}
.AllCats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
  margin-top: 100px;
}
#GitHub {
  width: 70px;
}

.scroll-indicator {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.scroll-indicator.hide {
  opacity: 0;
}

.Cat{
  margin: auto;
  width: 300px;
  height: 300px;
}


