.App {
  text-align: center;
}
.AllCats{
  columns: 3
}
.Cat{
  width: 300px;
  border-radius: 20px;
  margin: 10px;
}

#GitHub {
  width: 70px;
  right: 0;
}

@media only screen and (min-width:571px) and (max-width:870px){
  /* Tablet Screen */

  .AllCats{
    columns: 2
  }
  }
  
  @media only screen and (max-width:570px){
      /* Mobile Screen */
      .AllCats{
        columns: 1
      }
  }